fastapi==0.115.12
fastapi-cli==0.0.7
google-ai-generativelanguage==0.6.15
google-api-python-client==2.172.0
google-cloud-texttospeech==2.27.0
google-genai==1.19.0
google-generativeai==0.8.5
grpcio==1.71.0
grpclib==0.4.7
gTTS==2.5.4
numpy==2.0.2
nvidia-ace==1.2.0
pandas==2.3.0
pydantic==2.11.5
pydub==0.25.1
pyttsx3==2.98
scipy==1.13.1
uvicorn==0.34.3
